body {
  background-color: antiquewhite;
  font: 16px "Arial", sans-serif;
  margin: 1em 2em;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Butterfly Kids', cursive;
  font-size: 2rem;
}

.message {
  font-size: 1rem;
  font-weight: bold;
  color: darkviolet;
  margin-bottom: 0.8em;
}