* {
  font-family: sans-serif;
}
.App {
  padding:50px;
}
.calculator-container {
  background-color: lightblue;
  padding: 50px 0;
}
div.resultsDisplay,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
div.resultsDisplay {
  background-color:whitesmoke;
  width:206px;
  height:40px;
  font-weight:800;
  border-radius: 8px;
  margin-bottom: 5px;
  padding-left: 18px;
  letter-spacing: 0.1em;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button.calc-button {
  background: lightsalmon;
  color: white;
  font-weight:800;
  margin: 1px;
  width:50px;
}
button.number-button {
  font-weight:800;
  margin: 1px;
  width:50px;
}
button.equals-button {
  background: tomato; 
}
